body{
    font-family: 'Inter', sans-serif;
    background-color: #F3F5FC;
    
    
}

.logo_alura{
    padding-bottom: 2vh;
}

header{
    font-family: 'Inter', sans-serif;
    width: 100vh;
    height: 15vh;
    font-size: 12px;
    padding: 3vh;
}


.textboxes{
    display: flex;
    flex-direction: row;
    justify-content:center
}

.textbox{
    height: 50vh;
    width: 55vh;
    margin: .5vh .5vh .5vh .5vh;
    vertical-align: text-top;
    font-family: 'Inter', sans-serif;
    background: transparent;
    font-size: 20px;
    resize: none;
    line-height: 120%;
    border-color: #042e61;
    border-radius: 1vh;
}

.textbox:focus::placeholder{
    color: transparent;
}

.buttons{
    justify-content: center;
    display: flex;
}

.button_copy{
    margin-left: 65vh;
    margin-top: .5vh;
    color: #0A3871;
    font-weight: 300;
    background-color: #D8DFE8;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    border: 2px solid #0A3871;
    padding: 3vh;
}

.button_encript{
    color: white;
    font-weight: 300;
    background-color: #0A3871;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    padding: 3vh;
    margin-right: 1vh;
    margin-top: .5vh;
}

.button_encript:hover{
    transform: scale(1.1);
    background-color: #042e61;
}

.button_decript{
    color: #0A3871;
    font-weight: 300;
    background-color: #D8DFE8;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    border: 2px solid #0A3871;
    padding: 3vh;
    margin-left: .5vh;
    margin-top: .5vh;

}

.button_decript:hover{
    transform: scale(1.1);
    background-color: #c7d5e7;
}

.button_copy:hover{
    transform: scale(1.1);
    background-color: #c7d5e7;
}
